.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
    padding-top: 6vh;
    font-weight: 300;
    font-size: 1.3rem;
    color: #ADACAC;
}

.header_navbar_icon {
    align-self: flex-end;
    visibility: hidden;
    width: 3vh;
    height: 3vh;
}

.header_navbar_icon,
.header_navbar_icon path {
    color: #EFEFEF;
}

.header_navbar_icon:hover,
.header_navbar_icon:hover path {
    color: #0080B7;
}

.header_button {
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    align-self: flex-end;
}

.sidebar {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 -6vh -10vw;
    background-color: #EFEFEF;
    font-weight: 300;
    font-size: 1.3rem;
}

.top_sidebar {
    padding: 6vh 10vw 0 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.hide_sidebar_icon {
    width: 3vh;
    height: 3vh;
}

.hide_sidebar_icon,
.hide_sidebar_icon path {
    color: #171717;
}

.hide_sidebar_icon:hover,
.hide_sidebar_icon:hover path {
    color: #0080B7;
}

.questions_button {
    display: flex;
}

.sidebar_navigation {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.sidebar_navigation a {
    color: #171717;
}

.sidebar_navigation a:hover {
    color: #0080B7;
}

.bottom_sidebar {
    padding: 0 10vw 6vh 10vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.bottom_sidebar span {
    gap: 2vw;
}

.bottom_sidebar p {
    font-weight: 300;
    font-size: 1.3rem;
    color: #ADACAC;
}

.sidebar_bottom_icons {
    width: 3.5vh;
    height: 3.5vh;
}

.sidebar_bottom_icons,
.sidebar_bottom_icons path {
    color: #ADACAC;
}

.sidebar_bottom_icons:hover,
.sidebar_bottom_icons:hover path {
    color: #0080B7;
}

.header_h1_blue {
    margin-top: 0;
    color: #0080B7;
}

.header_icon_flex {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 6vh;
}

.header_icon,
.header_icon path {
    width: 5vh;
    height: 5vh;
    color: #0080B7;
}

.review_form {
    margin-top: 5vh;
    display: grid;
    row-gap: 2vh;
    column-gap: 2vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
}

.review_form_units,
.comment_form_units,
.comment_form_textarea {
    overflow-y: hidden;
    position: relative;
    height: calc(4.5vh + 1.2rem);
}

.review_form_units input,
.comment_form_units input,
.comment_form_textarea textarea {
    position: absolute;
    padding: 3.3vh 2vh 2vh 2vh;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
}

.review_form_units label,
.comment_form_units label,
.comment_form_textarea label {
    padding: 2.3vh 0 2.3vh 2.3vh;
    position: absolute;
    font-size: 1.2rem;
    font-weight: 500;
    color: #ADACAC;
    pointer-events: none;
    transition: 0.2s ease all;
}

.review_form input:focus ~ label,
.review_form input:valid ~ label,
.comment_form input:focus ~ label,
.comment_form input:valid ~ label,
.comment_form_textarea textarea:focus ~ label,
.comment_form_textarea textarea:valid ~ label {
    font-size: 0.6rem;
    padding: 1.5vh 0 0 2.3vh;
}

.review_form_photo {
    grid-area: 1 / 2 / 4 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: dashed #ADACAC;
    border-radius: 10px;
    cursor: pointer;
}

/*
.review_form_photo:has(input:valid, input:focus) {
    border: dashed #0080B7;
}

.review_form_photo:has(input:invalid) {
    border: dashed #ADACAC;
}
*/

.review_form_photo::placeholder {
    text-align: center;
    font-weight: 500;
}

.review_form_photo p {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.form_photos_array {
    font-size: 1.2rem;
    font-weight: 300;
    color: #ADACAC;
}

.review_icon {
    height: 5vh;
    width: 5vh;
    color: #ADACAC;
}

.review_icon path,
.review_icon circle {
    color: #ADACAC;
}

.form_files_span {
    margin: 0 1vw 0 1vw;
    justify-content: center;
    align-items: center;
}

.form_files_span p {
    width: 90%;
    font-weight: 300;
    font-size: 1rem;
}

.form_files_span button {
    width: 10%;
    background-color: #171717;
    color: #EFEFEF;
    font-weight: 300;
    font-size: 1em;
}

.review_disclaimer {
    margin-top: 1vh;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
}

.disclaimer {
    width: 30%;
    text-align: center;
    font-size: 1em;
    color: #ADACAC;
    font-weight: 300;
}

.doc_section {
    background-color: #EFEFEF;
}

.doc_h2 {
    margin-bottom: 4vh;
    color: #171717;
}

.doc_table {
    display: grid;
    row-gap: 4vh;
    column-gap: 6vw;
    grid-template-columns: repeat(2, 26vmax);
    grid-template-rows: repeat(2, 26vmin);
    justify-content: center;
    align-content: center;
}

.doc_rect {
    padding: 0 2vmax 0 2vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    background-color: #171717;
}

.doc_rect p {
    color: #EFEFEF;
    font-weight: 500;
    font-size: 1.3rem;
}

.doc_icons {
    width: 5vmin;
    height: 5vmin;
    margin-bottom: 2vh;
}

.doc_icons path {
    stroke: #EFEFEF;
}

.all_questions {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.button_flex {
    display: flex;
    align-items: center;
    margin: 0 5vw 0 5vw;
    padding: 0 2vw 0 2vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #EFEFEF;
    border-radius: 15px;
    transition: 0.2s ease all;
}

.button_flex button {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.questions_rect p {
    font-size: 1.6rem;
    margin: 3vh 3vw 3vh 0;
    text-align: left;
    color: #EFEFEF;
}

.questions_rect {
    height: 100%;
    align-items: center;
}

.questions_rect div {
    width: 20%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.questions_icons  {
    height: 3vmin;
    width: 3vmin;
    color: #EFEFEF;
}

.questions_icons path  {
    color: #EFEFEF;
}

.button_flex:hover {
    border: 2px solid #0080B7;
}

.button_flex:hover .questions_icons,
.button_flex:hover .questions_icons path {
    color: #0080B7;
}

.answers {
    margin: 0 5vw 0 5vw;
    padding: 0 3vw 0 3vw;
    color: #EFEFEF;
}

.answers p {
    font-size: 1.4rem;
    color: #EFEFEF;
}

.benefits_grid {
    padding: 0 5vw 0 5vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 5vmin;
    column-gap: 5vmin;
}

.benefits_grid div {
    height: 25vh;
    border-radius: 25px;
}

.benefits_grid p {
    padding: 0 2vw 3vh 2vw;
    color: #EFEFEF;
}

.benefits_time {
    background-image: url('../public/luke-chesser-rCOWMC8qf8A-unsplash.webp');
    background-size: cover;
    background-position: center;
    grid-column: 1 / 3;
}

.benefits_price {
    background-image: url('../public/towfiqu-barbhuiya-JhevWHCbVyw-unsplash.webp');
    background-size: cover;
    background-position: center;
}

.benefits_safety {
    background-image: url('../public/erika-fletcher-GJwgw_XqooQ-unsplash.webp');
    background-size: cover;
    background-position: center;
}

.benefits_care {
    background-image: url('../public/headway-5QgIuuBxKwM-unsplash.webp');
    background-size: cover;
    background-position: center;
    grid-column: 2 / 4;
}

.benefits_time, .benefits_price, 
.benefits_safety, .benefits_care {
    display: grid;
    align-items: flex-end;
}

.benefits_time p, .benefits_price p, 
.benefits_safety p, .benefits_care p {
    font-size: 1.6rem;
}

.carousel {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-bottom: 220vh;
}

.carousel_item {
    align-self: flex-end;
    height: 35vh;
    width: 30vw;
    padding: 0 3vw 0 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171717;
    border-radius: 25px;
}

.carousel_item p {
    color: #EFEFEF;
    font-size: 1.6em;
}

.comment_form {
    margin-top: 5vh;
    display: grid;
    row-gap: 3vh;
    column-gap: 2vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
}

.comment_form_textarea {
    grid-area: 1 / 2 / 4 / 2;
    height: 100%;
}

.comment_form_textarea textarea {
    padding: 3vh 2vh 0 2vh;

    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

.footer_links, .centering_grid, .footer_media,
.centering_grid_media {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.centering_grid span,
.centering_grid_media span {
    gap: 1vw;
    align-items: center;
}

.centering_grid p,
.centering_grid_media p {
    font-weight: 300;
    font-size: 1.3rem;
    color: #171717;
}

.footer_icons,
.footer_icons path,
.footer_icons_link,
.footer_icons_link path {
    width: 3.5vh;
    height: 3.5vh;
    color: #171717;
}

.footer_icons_link:hover,
.footer_icons_link:hover path {
    color: #0080B7;
}

.footer_media {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.centering_grid_media {
    grid-column: 3 / 5;
}

.next {
    color: black;
    font-size: 2rem;
}

@media (min-width: 1400px) {
    .sidebar {
        visibility: hidden;
    }

    .doc_rect p {
        font-size: 1.5rem;
    }

    .doc_table {
        grid-template-columns: repeat(2, 23vw);
        grid-template-rows: repeat(2, 22vh);
    }
}

@media (min-width: 1024px) {
    .sidebar {
        visibility: hidden;
    }
}

@media (min-width: 1026px) and (max-width: 1400px) {
    .navbar {
        gap: 8vw;
    }

    .doc_rect p {
        font-size: 1.5rem;
    }

    .benefits_time p, .benefits_price p, 
    .benefits_safety p, .benefits_care p {
        font-size: 1.4rem;
    }

    .answers p {
        font-size: 1.2rem;
    }

    .questions_rect p {
        font-size: 1.4rem;
    }
}

@media (min-width: 750px) and (max-width: 1025px) {
    .navbar {
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .header_navbar_icon,
    .hide_sidebar_icon {
        height: 3.5vh;
        width: 3.5vh;
        visibility: visible;
    }
    
    .header_icon,
    .header_icon path {
        height: 6vh;
        width: 6vh;
    }

    .doc_rect p {
        font-size: 1.3rem;
    }

    .doc_icons {
        width: 4.5vh;
        height: 4.5vh;
        margin-bottom: 2vh;
    }

    .header_title {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .benefits_grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .benefits_care, .benefits_time {
        grid-column: 1;
    }

    .benefits_grid div {
        height: 17vh;
    }

    .benefits_grid p {
        font-size: 1.5rem;
        padding: 0 3vw 3vh 3vw;
    }

    .review_form, 
    .comment_form {
        margin-top: 3vh;
    }

    .review_form input:focus ~ label,
    .review_form input:valid ~ label,
    .comment_form input:focus ~ label,
    .comment_form input:valid ~ label,
    .comment_form_textarea textarea:focus ~ label,
    .comment_form_textarea textarea:valid ~ label {
        font-size: 0.8rem;
        padding: 1.5vh 0 0 2.1vh;
    }

    .review_form_units input,
    .comment_form_units input,
    .comment_form_textarea textarea {
        padding: 3.5vh 2vh 2vh 2vh;
    }

    .carousel {
        width: auto;
        flex-direction: row;
        gap: 2vw;
        margin-top: 5vh;
        padding: 0 376vw 0 0;
    }

    .carousel_item {
        height: 30vh;
        width: 55vw;
    }

    .doc_rect p {
        font-size: 1.5rem;
    }

    .benefits_time p, .benefits_price p, 
    .benefits_safety p, .benefits_care p {
        font-size: 1.4rem;
    }

    .answers p {
        font-size: 1.2rem;
    }

    .questions_rect p {
        font-size: 1.4rem;
    }
}

@media (min-width: 450px) and (max-width: 750px) {
    .navbar {
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .header_navbar_icon,
    .hide_sidebar_icon {
        height: 3.5vh;
        width: 3.5vh;
        visibility: visible;
    }
    
    .header_icon,
    .header_icon path {
        height: 6vh;
        width: 6vh;
    }

    .header_title {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .doc_rect p {
        font-size: 0.9rem;
    }

    .doc_icons {
        width: 5vh;
        height: 5vh;
        margin-bottom: 2vh;
    }

    .doc_table {
        row-gap: 3vh;
        grid-template-columns: repeat(1, 40vw);
        grid-template-rows: repeat(4, 21vh);
    }

    .doc_rect {
        padding: 0 3vw 0 3vw;
    }

    .benefits_grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .benefits_care, .benefits_time {
        grid-column: 1;
    }

    .benefits_grid div {
        height: 17vh;
    }

    .benefits_grid p {
        font-size: 1.2rem;
        padding: 0 4vw 3vh 4vw;
    }

    .review_form, 
    .comment_form {
        margin-top: 3vh;
    }

    .comment_form {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .comment_form_textarea {
        grid-area: 3;
    }

    .carousel {
        width: auto;
        flex-direction: row;
        gap: 2vw;
        margin-top: 5vh;
        padding: 0 402vw 0 0;
    }

    .carousel_item {
        height: 35vh;
        width: 55vw;
        padding: 0 5vw 0 5vw;
    }

    .review_form {
        display: flex;
        flex-direction: column;
    }

    .review_disclaimer {
        margin-top: 1vh;
        align-self: center;
        display: block;
    }

    .review_p {
        font-size: 1.3rem;
    }

    .disclaimer {
        width: 100%;
    }

    .review_form_photo {
        height: 20vh;
    }

    .doc_rect p {
        font-size: 1.5rem;
    }

    .benefits_time p, .benefits_price p, 
    .benefits_safety p, .benefits_care p {
        font-size: 1.4rem;
    }

    .answers p {
        font-size: 1.2rem;
    }

    .questions_rect p {
        font-size: 1.4rem;
    }

    .comment_form {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .comment_form_textarea {
        height: 20vh;
    }
}

@media (min-width: 380px) and (max-width: 450px) {
    .navbar {
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .sidebar_navigation a {
        font-size: 1.3rem;
    }

    .bottom_sidebar p {
        font-size: 1.4rem;
    }

    .header_navbar_icon,
    .hide_sidebar_icon {
        height: 3.5vh;
        width: 3.5vh;
        visibility: visible;
    }
    
    .header_icon,
    .header_icon path {
        height: 6vh;
        width: 6vh;
    }

    .header_title {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .doc_rect {
        padding: 0 5vw 0 5vw; 
    }

    .doc_rect p {
        font-size: 1.2rem;
    }

    .doc_icons {
        width: 4vh;
        height: 4vh;
        margin-bottom: 2vh;
    }

    .doc_table {
        row-gap: 3vh;
        grid-template-columns: repeat(1, 60vw);
        grid-template-rows: repeat(4, 22vh);
    }

    .button_flex {
        padding: 0 5vw 0 5vw;
    }

    .questions_icons  {
        height: 4vmin;
        width: 4vmin;
    }

    .benefits_grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .benefits_care, .benefits_time {
        grid-column: 1;
    }

    .benefits_grid div {
        height: 17vh;
    }

    .benefits_grid p {
        font-size: 1.2rem;
        padding: 0 4vw 3vh 4vw;
    }

    .review_form, 
    .comment_form {
        margin-top: 3vh;
    }

    .comment_form {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .comment_form_textarea {
        height: 20vh;
    }

    .carousel {
        width: auto;
        flex-direction: row;
        gap: 2vw;
        margin-top: 5vh;
        padding: 0 402vw 0 0;
    }

    .carousel_item {
        height: 33vh;
        width: 55vw;
        padding: 0 5vw 0 5vw;
    }

    .review_form {
        display: flex;
        flex-direction: column;
    }

    .review_disclaimer {
        margin-top: 1vh;
        align-self: center;
        display: block;
    }

    .review_p {
        font-size: 1.5rem;
    }

    .disclaimer {
        width: 100%;
    }

    .review_form_photo {
        height: 20vh;
    }

    .benefits_time p, .benefits_price p, 
    .benefits_safety p, .benefits_care p {
        font-size: 1.2rem;
    }

    .answers p {
        font-size: 1rem;
    }

    .questions_rect p {
        font-size: 1.2rem;
    }
}

@media (min-width: 350px) and (max-width: 380px) {
    .navbar {
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .sidebar_navigation a {
        font-size: 1.1rem;
    }

    .bottom_sidebar p {
        font-size: 1.2rem;
    }

    .header_navbar_icon,
    .hide_sidebar_icon {
        height: 3.5vh;
        width: 3.5vh;
        visibility: visible;
    }
    
    .header_icon,
    .header_icon path {
        height: 6vh;
        width: 6vh;
    }

    .header_title {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .doc_rect {
        padding: 0 5vw 0 5vw; 
    }

    .doc_rect p {
        font-size: 1.1rem;
    }

    .doc_icons {
        width: 4vh;
        height: 4vh;
        margin-bottom: 2vh;
    }

    .doc_table {
        row-gap: 3vh;
        grid-template-columns: repeat(1, 60vw);
        grid-template-rows: repeat(4, 22vh);
    }

    .button_flex {
        padding: 0 5vw 0 5vw;
    }

    .questions_icons  {
        height: 4vmin;
        width: 4vmin;
    }

    .benefits_grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .benefits_care, .benefits_time {
        grid-column: 1;
    }

    .benefits_grid div {
        height: 17vh;
    }

    .benefits_grid p {
        font-size: 1.2rem;
        padding: 0 4vw 3vh 4vw;
    }

    .review_form, 
    .comment_form {
        margin-top: 3vh;
    }

    .comment_form {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .comment_form_textarea {
        height: 20vh;
    }

    .carousel {
        width: auto;
        flex-direction: row;
        gap: 2vw;
        margin-top: 5vh;
        padding: 0 402vw 0 0;
    }

    .carousel_item {
        height: 30vh;
        width: 55vw;
        padding: 0 5vw 0 5vw;
    }

    .review_form {
        display: flex;
        flex-direction: column;
    }

    .review_disclaimer {
        margin-top: 1vh;
        align-self: center;
        display: block;
    }

    .review_p {
        font-size: 1.2rem;
    }

    .disclaimer {
        width: 100%;
    }

    .review_form_photo {
        height: 20vh;
    }

    .review_form_units label,
    .review_form_photo p,
    .review_form button {
        font-size: 1.1rem;
    }

    .benefits_time p, .benefits_price p, 
    .benefits_safety p, .benefits_care p {
        font-size: 1.2rem;
    }

    .answers p {
        font-size: 1rem;
    }

    .questions_rect p {
        font-size: 1.2rem;
    }

    .comment_form_units label,
    .comment_form_textarea label,
    .comment_form button {
        font-size: 1.1rem;
    }
}

@media (min-width: 0px) and (max-width: 350px) {
    .navbar {
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .sidebar_navigation a {
        font-size: 0.9rem;
    }

    .header_navbar_icon,
    .hide_sidebar_icon {
        height: 4.5vh;
        width: 4.5vh;
        visibility: visible;
    }
    
    .header_icon,
    .header_icon path {
        height: 7vh;
        width: 7vh;
    }

    .header_title {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sidebar {
        font-size: 1rem;
    }

    .bottom_sidebar p {
        font-size: 1rem;
    }

    .doc_rect p {
        font-size: 0.9rem;
    }

    .doc_icons {
        width: 5vh;
        height: 5vh;
        margin-bottom: 2vh;
    }

    .doc_table {
        row-gap: 3vh;
        grid-template-columns: repeat(1, 55vw);
        grid-template-rows: repeat(4, 24vh);
    }

    .doc_rect {
        padding: 0 5vw 0 5vw;
    }

    .doc_icons {
        width: 4vh;
        height: 4vh;
        margin-bottom: 2vh;
    }

    .doc_table {
        row-gap: 3vh;
        grid-template-columns: repeat(1, 60vw);
        grid-template-rows: repeat(4, 22vh);
    }

    .button_flex {
        padding: 0 5vw 0 5vw;
    }

    .questions_icons  {
        height: 4vmin;
        width: 4vmin;
    }

    .benefits_grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .benefits_care, .benefits_time {
        grid-column: 1;
    }

    .benefits_grid div {
        border-radius: 15px;
        height: 17vh;
    }

    .benefits_grid p {
        font-size: 0.9rem;
        padding: 0 4vw 3vh 5vw;
    }

    .review_form, 
    .comment_form {
        margin-top: 3vh;
    }

    .comment_form {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .comment_form_textarea {
        height: 25vh;
    }

    .review_form_units label,
    .comment_form_units label,
    .comment_form_textarea label,
    .review_form_photo p {
        font-size: 1rem;
    }

    .carousel {
        width: auto;
        flex-direction: row;
        gap: 2vw;
        margin-top: 5vh;
        padding: 0 402vw 0 0;
    }

    .carousel_item {
        height: 35vh;
        width: 55vw;
        padding: 0 5vw 0 5vw;
    }

    .review_form {
        display: flex;
        flex-direction: column;
    }

    .review_disclaimer {
        margin-top: 1vh;
        align-self: center;
        display: block;
    }

    .review_p {
        font-size: 1.1rem;
    }

    .disclaimer {
        width: 100%;
        font-size: 0.8rem;
    }

    .review_form_photo {
        height: 25vh;
    }

    .review_form_units label,
    .review_form_photo p,
    .review_form button {
        font-size: 0.9rem;
    }

    .benefits_time p, .benefits_price p, 
    .benefits_safety p, .benefits_care p {
        font-size: 0.9rem;
    }

    .answers p {
        font-size: 0.9rem;
    }

    .questions_rect p {
        font-size: 0.9rem;
    }

    .comment_form_units label,
    .comment_form_textarea label,
    .comment_form button {
        font-size: 0.9rem;
    }
}
