.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
    padding-top: 6vh;
    font-weight: 300;
    font-size: 1.3rem;
    color: #ADACAC;
}

.header_navbar_icon {
    align-self: flex-end;
    visibility: hidden;
    width: 3vh;
    height: 3vh;
}

.header_navbar_icon,
.header_navbar_icon path {
    color: #EFEFEF;
}

.header_navbar_icon:hover,
.header_navbar_icon:hover path {
    color: #0080B7;
}

.header_button {
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    align-self: flex-end;
}

.sidebar {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 -6vh -10vw;
    background-color: #EFEFEF;
    font-weight: 300;
    font-size: 1.3rem;
}

.top_sidebar {
    padding: 6vh 10vw 0 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.hide_sidebar_icon {
    width: 3vh;
    height: 3vh;
}

.hide_sidebar_icon,
.hide_sidebar_icon path {
    color: #171717;
}

.hide_sidebar_icon:hover,
.hide_sidebar_icon:hover path {
    color: #0080B7;
}

.sidebar_navigation {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.sidebar_navigation a {
    color: #171717;
}

.sidebar_navigation a:hover {
    color: #0080B7;
}

.bottom_sidebar {
    padding: 0 10vw 6vh 10vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.bottom_sidebar span {
    gap: 2vw;
}

.bottom_sidebar p {
    font-weight: 300;
    font-size: 1.3rem;
    color: #ADACAC;
}

.sidebar_bottom_icons {
    width: 3vh;
    height: 3vh;
}

.sidebar_bottom_icons,
.sidebar_bottom_icons path {
    color: #ADACAC;
}

.sidebar_bottom_icons:hover,
.sidebar_bottom_icons:hover path {
    color: #0080B7;
}

.header_h1_blue {
    margin-top: 0;
    color: #0080B7;
}

.header_icon_flex {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 6vh;
}

.header_icon {
    width: 5vh;
    height: 5vh;
    color: #0080B7;
}

.header_icon path {
    color: #0080B7;
}

.review_form {
    margin-top: 5vh;
    display: grid;
    row-gap: 2vh;
    column-gap: 2vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
}

.review_form_units {
    position: relative;
    height: 7vh;
}

.review_form_units input {
    position: absolute;
    padding: 1.5vh 0 0 2vh;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
}

.review_form_units label {
    padding: 2.3vh 0 0 2vh;
    position: absolute;
    font-size: 1.2rem;
    font-weight: 500;
    color: #ADACAC;
    pointer-events: none;
    transition: 0.2s ease all;
}

.review_form input:focus ~ label,
.review_form input:valid ~ label {
    font-size: 0.6rem;
    padding: 1.5vh 0 0 2vh;
}

.review_form_photo {
    grid-area: 1 / 2 / 4 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: dashed #ADACAC;
    border-radius: 10px;
    cursor: pointer;
}

.review_form_photo:has(input:valid, input:focus) {
    border: dashed #0080B7;
}

.review_form_photo:has(input:invalid) {
    border: dashed #ADACAC;
}

.review_form_photo::placeholder {
    text-align: center;
    font-weight: 500;
}

.review_form_photo p {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.form_photos_array {
    font-size: 1.2rem;
    font-weight: 300;
    color: #ADACAC;
}

.review_icon {
    height: 5vh;
    width: 5vh;
    color: #ADACAC;
}

.review_icon path,
.review_icon circle {
    color: #ADACAC;
}

.form_files_span {
    margin: 0 1vw 0 1vw;
    justify-content: center;
    align-items: center;
}

.form_files_span p {
    width: 90%;
    font-weight: 300;
    font-size: 1rem;
}

.form_files_span button {
    width: 10%;
    background-color: #171717;
    color: #EFEFEF;
    font-weight: 300;
    font-size: 1em;
}

.review_disclaimer {
    margin-top: 1vh;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
}

.review_disclaimer p {
    width: 30%;
    text-align: center;
    font-size: 1em;
    color: #ADACAC;
    font-weight: 300;
}

.doc_section {
    background-color: #EFEFEF;
}

.doc_h2 {
    margin-bottom: 4vh;
    color: #171717;
}

.doc_table {
    display: grid;
    row-gap: 4vh;
    column-gap: 6vw;
    grid-template-columns: repeat(2, 26vmax);
    grid-template-rows: repeat(2, 26vmin);
    justify-content: center;
    align-content: center;
}

.doc_rect {
    padding: 0 2vmax 0 2vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    background-color: #171717;
}

.doc_rect p {
    color: #EFEFEF;
    font-weight: 500;
    font-size: 1.3rem;
}

.doc_icons {
    width: 5vmin;
    height: 5vmin;
    margin-bottom: 2vh;
}

.doc_icons path {
    stroke: #EFEFEF;
}

.all_questions {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.button_flex {
    display: flex;
    align-items: center;
    margin: 0 5vw 0 5vw;
    padding: 0 2vw 0 2vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #EFEFEF;
    border-radius: 15px;
}

.button_flex button {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.questions_rect p {
    margin: 3vh 3vw 3vh 0;
    text-align: left;
    color: #EFEFEF;
}

.questions_rect {
    height: 100%;
    align-items: center;
}

.questions_rect div {
    width: 20%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.questions_icons  {
    height: 3vmin;
    width: 3vmin;
    color: #EFEFEF;
}

.questions_icons path  {
    color: #EFEFEF;
}

.button_flex:hover {
    border: 2px solid #0080B7;
}

.button_flex:hover .questions_icons,
.button_flex:hover .questions_icons path {
    color: #0080B7;
}

.answers {
    margin: 0 5vw 0 5vw;
    padding: 0 3vw 0 3vw;
    color: #EFEFEF;
}

.answers p {
    color: #EFEFEF;
}

.benefits_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.benefits_time {
    background-image: url(../public/luke-chesser-rCOWMC8qf8A-unsplash.webp);
    background-size: cover;
    background-position: center;
    grid-column: 1 / 3;
}

.benefits_price {
    background-image: url(../public/towfiqu-barbhuiya-JhevWHCbVyw-unsplash.webp);
    background-size: cover;
    background-position: center;
}

.benefits_safety {
    background-image: url(../public/erika-fletcher-GJwgw_XqooQ-unsplash.webp);
    background-size: cover;
    background-position: center;
}

.benefits_care {
    background-image: url(../public/headway-5QgIuuBxKwM-unsplash.webp);
    background-size: cover;
    background-position: center;
    grid-column: 2 / 4;
}

.feedback_section {
    overflow-y: hidden;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #EFEFEF;
}

.feedback_h1 {
    margin: 0;
    font-size: 12.5em;
    font-weight: 900;
    color: #0080B7;
}

.feedback_h2 {
    font-size: 4em;
    font-weight: 700;
    color: #171717;
}

.carousel {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-bottom: 35vh;
}

.carousel_item_prev_prev {
    height: 35vh;
    width: 35vw;
    padding: 0 3vw 0 3vw;
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    color: #EFEFEF;
    background-color: #171717;
    border-radius: 25px;
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
}

.carousel_item_prev {
    height: 35vh;
    width: 35vw;
    padding: 0 3vw 0 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    color: #EFEFEF;
    background-color: #171717;
    border-radius: 25px;
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.carousel_item_cur {
    height: 35vh;
    width: 35vw;
    padding: 0 3vw 0 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    color: #EFEFEF;
    background-color: #171717;
    border-radius: 25px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.carousel_item_next {
    height: 35vh;
    width: 35vw;
    padding: 0 3vw 0 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    color: #EFEFEF;
    background-color: #171717;
    border-radius: 25px;
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.comment_grid {
}

.footer_icons {
    color: #171717;
}

@media (min-width: 1400px) {
    .sidebar {
        visibility: hidden;
    }

    .doc_rect p {
        font-size: 1.5rem;
    }

    .doc_table {
        grid-template-columns: repeat(2, 23vw);
        grid-template-rows: repeat(2, 22vh);
    }
}

@media (min-width: 1024px) {
    .sidebar {
        visibility: hidden;
    }
}

@media (min-width: 1024px) and (max-width: 1400px) {
    .navbar {
        gap: 8vw;
    }

    .doc_rect p {
        font-size: 1.5rem;
    }
}

@media (min-width: 750px) and (max-width: 1023px) {
    .navbar {
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .header_navbar_icon {
        visibility: visible;
    }

    .doc_rect p {
        font-size: 1.1rem;
    }

    .doc_icons {
        width: 4.5vh;
        height: 4.5vh;
        margin-bottom: 2vh;
    }
}

@media (min-width: 450px) and (max-width: 750px) {
    .navbar {
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .header_navbar_icon {
        visibility: visible;
    }

    .doc_rect p {
        font-size: 0.9rem;
    }

    .doc_icons {
        width: 5vh;
        height: 5vh;
        margin-bottom: 2vh;
    }

    .doc_table {
        row-gap: 3vh;
        grid-template-columns: repeat(1, 40vw);
        grid-template-rows: repeat(4, 21vh);
    }

    .doc_rect {
        padding: 0 3vw 0 3vw;
    }
}

@media (min-width: 350px) and (max-width: 450px) {
    .navbar {
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .header_navbar_icon {
        visibility: visible;
    }

    .doc_icons {
        width: 4vh;
        height: 4vh;
        margin-bottom: 2vh;
    }

    .doc_table {
        row-gap: 3vh;
        grid-template-columns: repeat(1, 60vw);
        grid-template-rows: repeat(4, 22vh);
    }

    .button_flex {
        padding: 0 5vw 0 5vw;
    }

    .questions_icons  {
        height: 4vmin;
        width: 4vmin;
    }
}

@media (min-width: 0px) and (max-width: 350px) {
    .navbar {
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .header_navbar_icon {
        visibility: visible;
    }

    .sidebar {
        font-size: 1rem;
    }

    .bottom_sidebar p {
        font-size: 1rem;
    }

    .doc_rect p {
        font-size: 0.9rem;
    }

    .doc_icons {
        width: 5vh;
        height: 5vh;
        margin-bottom: 2vh;
    }

    .doc_table {
        row-gap: 3vh;
        grid-template-columns: repeat(1, 55vw);
        grid-template-rows: repeat(4, 24vh);
    }

    .doc_rect {
        padding: 0 5vw 0 5vw;
    }

    .doc_icons {
        width: 6vh;
        height: 6vh;
        margin-bottom: 2vh;
    }

    .doc_table {
        row-gap: 3vh;
        grid-template-columns: repeat(1, 60vw);
        grid-template-rows: repeat(4, 22vh);
    }

    .button_flex {
        padding: 0 5vw 0 5vw;
    }

    .questions_icons  {
        height: 4vmin;
        width: 4vmin;
    }
}
