* {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
}

body {
    background-color: #171717;
}

section {
    padding: 5vh 10vw 5vh 10vw;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header, footer {
    padding: 0 10vw 0 10vw;
}

a {
    color: #ADACAC;
    text-decoration: none;
}

a:hover {
    color: #0080B7;
}

h1 {
    margin-top: 6vh; 
    font-size: 5em;
    font-weight: 700;
}

header {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../public/samuele-errico-piccarini-FMbWFDiVRPs-unsplash.png);
    background-size: cover;
    background-position: center;
}

h2 {
    font-size: 2.5em;
}

p {
    font-size: 1.9rem;
    color: #ADACAC;
}

input {
    height: 7vh;
    border: 2px solid #ADACAC;
    border-radius: 10px;
    background-color: transparent;
}

textarea {
    border: 2px solid #ADACAC;
    border-radius: 10px;
    background-color: transparent;
}

input[type="file"] {
    display: none;
    cursor: pointer;
}

input:focus, input:valid,
textarea:focus, textarea:valid {
    outline: none;
    border: 2px solid #0080B7;
}

button {
    height: calc(4.5vh + 1.2rem);
    background-color: #EFEFEF;
    color: #171717;
    border: none;
    border-radius: 10px;
    font-size: 1.3em;
    font-weight: 500;
    cursor: pointer;
}

button[disabled] {
    height: calc(4.5vh + 1.2rem);
    opacity: 0.5;
    cursor: not-allowed;
}

span {
    display: flex;
    flex-direction: row;
}

#review p, #comment p {
    margin-top: 1vh;
}

#questions h2, #benefits h2 {
    margin-bottom: 4vh;
}

#benefits {
    margin-bottom: 4vh;
}

#feedback {
    overflow-y: hidden;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #EFEFEF;
}

#feedback h1 {
    margin: 0;
    font-size: 12.5em;
    font-weight: 900;
    color: #0080B7;
}

#feedback h2 {
    font-size: 4em;
    font-weight: 700;
    color: #171717;
}

@media (min-width: 1026px) and (max-width: 1400px) {
    header {
        background-position: right 10% bottom;
    }

    p {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 4em;
    }
}

@media (min-width: 750px) and (max-width: 1025px) {
    header {
        background-position: right 10% bottom;
    }

    p {
        font-size: 1.4rem;
    }

    h1 {
        margin-top: 12vh; 
        font-size: 4.5em;
    }

    h2 {
        font-size: 2em;
    }

    footer {
        display: none;
    }
}

@media (min-width: 450px) and (max-width: 750px) {
    header {
        background-position: right 10% bottom;
    }

    h1 {
        margin-top: 12vh;
        font-size: 3.5em;
    }

    h2 {
        font-size: 1.8em;
    }

    p {
        font-size: 1.2rem;
    }
    
    footer {
        display: none;
    }
}

@media (min-width: 350px) and (max-width: 450px) {
    header {
        background-position: right 10% bottom;
    }

    /*
        check later on mobile. maybe its reasonable to
        set h1 on center
    */
    h1 {
        margin-top: 12vh;
        justify-self: center;
        align-self: center;
        font-size: 3em;
    }

    h2 {
        font-size: 2.3em;
    }

    p {
        font-size: 1rem;
    }

    #review p, #comment p {
        font-size: 1.5rem;
    }

    footer {
        display: none;
    }
}

@media (min-width: 0px) and (max-width: 350px) {
    header {
        background-position: right 10% bottom;
    }
    
    h1 {
        margin-top: 12vh;
        justify-self: center;
        align-self: center;
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.8em;
    }

    p {
        font-size: 0.9rem;
    }

    #review p, #comment p {
        font-size: 1.2rem;
    }

    button {
        font-size: 1rem;
    }

    footer {
        display: none;
    }
}
