@import url("https://fonts.googleapis.com/css?family=Roboto:wght@300;500;700;900");

body, html {
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    color: #FFFFFF;
}

body {
    position: relative;
    background-color: #171717;
}

section {
    padding: 5vh 10vw 5vh 10vw;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    padding: 0 10vw 0 10vw;
}

a {
    color: #ADACAC;
    text-decoration: none;
}

a:hover {
    color: #0080B7;
}

h1 {
    font-size: 5em;
    font-weight: 700;
}

header {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('../public/samuele-errico-piccarini-FMbWFDiVRPs-unsplash.png');
    background-size: cover;
    background-position: center;
}

h2 {
    font-size: 2.5em;
}

p {
    font-size: 1.9rem;
    color: #ADACAC;
}

input {
    height: 7vh;
    border: 2px solid #ADACAC;
    border-radius: 10px;
    background-color: transparent;
}

textarea {
    border: 2px solid #ADACAC;
    border-radius: 10px;
    background-color: transparent;
}

input[type="file"] {
    display: none;
    cursor: pointer;
}

input:focus, input:valid,
textarea:focus, textarea:valid {
    outline: none;
    border: 2px solid #0080B7;
}

button {
    height: calc(4.5vh + 1.2rem);
    background-color: #EFEFEF;
    color: #171717;
    border: none;
    border-radius: 10px;
    font-size: 1.3em;
    font-weight: 500;
    cursor: pointer;
}

button[disabled] {
    height: calc(4.5vh + 1.2rem);
    opacity: 0.5;
    cursor: not-allowed;
}

span {
    display: flex;
    flex-direction: row;
}

#review p, #comment p {
    margin-top: 1vh;
}

#questions h2, #benefits h2 {
    margin-bottom: 4vh;
}

#benefits {
    margin-bottom: 4vh;
}

#feedback {
    overflow: hidden;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #EFEFEF;
}

#feedback h1 {
    margin: 0;
    font-size: 12.5em;
    font-weight: 900;
    color: #0080B7;
}

#feedback h2 {
    font-size: 4em;
    font-weight: 700;
    color: #171717;
}

footer {
    padding: 5vh 10vw 5vh 10vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: #EFEFEF;
}

footer a {
    font-weight: 300;
    font-size: 1.3rem;
    color: #171717;
}

@media (min-width: 1400px) {
    #feedback p {
        font-size: 1.5rem;
    }
}

@media (min-width: 1026px) and (max-width: 1400px) {
    header {
        background-position: right 10% bottom;
    }

    p {
        font-size: 1.4rem;
    }

    h1 {
        font-size: 4em;
    }   

    h2 {
        font-size: 2.2em;
    }

    #feedback h1 {
        font-size: 8rem;
    }

    #feedback h2 {
        font-size: 3.5rem;
    }

    #feedback p {
        font-size: 1.2rem;
    }
}

@media (min-width: 750px) and (max-width: 1025px) {
    header {
        background-position: right 10% bottom;
    }

    p {
        font-size: 1.4rem;
    }

    h1 {
        font-size: 4.5em;
    }

    h2 {
        font-size: 2em;
    }

    #feedback {
        flex-direction: column;
        height: 100%;
    }

    #feedback h1 {
        font-size: 8rem;
        margin: 0;
    }

    #feedback h2 {
        font-size: 4rem;
    }

    #feedback p {
        font-size: 1.2rem;
    }
    

    footer {
        display: none;
    }
}

@media (min-width: 450px) and (max-width: 750px) {
    header {
        background-position: right 10% bottom;
    }

    h1 {
        font-size: 3.5em;
    }

    h2 {
        font-size: 1.8em;
    }

    p {
        font-size: 1.2rem;
    }

    #feedback {
        flex-direction: column;
        height: 100%;
    }

    #feedback h1 {
        font-size: 7rem;
        margin: 0;
    }

    #feedback h2 {
        font-size: 3rem;
    }

    #feedback p {
        font-size: 1.2rem;
    }
    
    footer {
        display: none;
    }
}

@media (min-width: 380px) and (max-width: 450px) {
    header {
        background-position: right 10% bottom;
    }
    
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.6em;
    }

    p {
        font-size: 1rem;
    }

    #comment p {
        font-size: 1.5rem;
    }

    #feedback {
        flex-direction: column;
        height: 100%;
    }

    #feedback h1 {
        font-size: 5.5rem;
        margin: 0;
    }

    #feedback h2 {
        font-size: 2.5rem;
    }

    #feedback p {
        font-size: 1.1rem;
    }

    footer {
        display: none;
    }
}

@media (min-width: 350px) and (max-width: 380px) {
    header {
        background-position: right 10% bottom;
    }
    
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.8em;
    }

    p {
        font-size: 1rem;
    }

    #comment p {
        font-size: 1.2rem;
    }

    #feedback {
        flex-direction: column;
        height: 100%;
    }

    #feedback h1 {
        font-size: 5.5rem;
        margin: 0;
    }

    #feedback h2 {
        font-size: 2.5rem;
    }

    #feedback p {
        font-size: 1rem;
    }

    footer {
        display: none;
    }
}

@media (min-width: 0px) and (max-width: 350px) {
    header {
        background-position: right 10% bottom;
    }
    
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.6em;
    }

    p {
        font-size: 0.9rem;
    }

    #comment p {
        font-size: 1.1rem;
    }

    button {
        font-size: 1rem;
    }

    #feedback {
        flex-direction: column;
        height: 100%;
    }

    #feedback h1 {
        font-size: 3.5rem;
        margin: 0;
    }

    #feedback h2 {
        font-size: 2rem;
    }

    #feedback p {
        font-size: 0.8rem;
    }

    footer {
        display: none;
    }
}
